{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">About Us</h1>
        <p class="card-text">This is a simple web application built with Python and Flask. It demonstrates basic web development concepts including:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Flask routing and templates</li>
            <li class="list-group-item">Bootstrap for responsive design</li>
            <li class="list-group-item">Dynamic content rendering</li>
        </ul>
    </div>
</div>
{% endblock %}

